.backgroundImg {
    position: sticky;
    height: 40vw;
    object-fit: cover;
    z-index: 1;
    box-shadow: 0px 2px 2px grey;
}
.box {
    height: 400px;
    position: relative;
    z-index: 2;

}
.box>.text {
    font-size: 80px;
    text-align: center;
    color: #373737;
    padding: 80px 20px 20px 20px;
    position: relative;
}

.box>.imageBox {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin-left: 220px;
    margin-right: 220px;
    position: relative;

}
.imageBox>.border {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 7px grey;
}
.border>.imgs {
    height: 80%;
    width: 80%;
    margin: 10px 5px 15px 15px;

}